.results {
  margin-top: 50px;
}

.persona-title {
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 10px;
  color: white;
}

.persona-top {
  background: white;
  padding: 15px;
  height: 300px;
}

.title {
  font-size: 20px;
  font-weight: 200;
  margin-left: 10px;
}

.skillWord {
  margin-bottom: 10px;
}

.word {
  color: #9ea0a1;
  margin: 10px 10px;
  font-size: 18px;
}

.add {
  border: 2px solid #0abeef;
  padding: 2px 30px;
  margin: 10px 10px;
  color: #0abeef;
}

.skill {
  border-right: #0abeef solid 15px;
}

.search-keywords {
  float: right;
  background: yellow;
  border-top: #0abeef solid 15px;
  border-bottom: #0abeef solid 15px;
  width: 100%;
  padding: 15px;
}

.results-persona {
  background: #0abeef;
  font-weight: 200;
  position: relative;
}

#profilePIC {
  width: 100px;
  height: 100px;
  background-color: #0abeef;
  position: absolute;
  border-radius: 100px;
  left: 38%;
  top: 51%;
}

#tags {
  padding: 10px;
  width: 100%;
  background: white;
}

#tag-typer {
  float: none;
  outline: none;
  border: none;
  padding: 5px;
  margin: 3px;
  margin-right: -25px;
  width: 100px;
  background-color: transparent;
  font-size: 14px;
  color: #333;
  border: 1px solid white;
}
#tag-typer:hover {
  border: 1px solid black;
  transition: 0.2s;
}

.tag {
  display: inline-block;
  background: white;
  border: 1px solid black;
  color: black;
  padding: 5px 10px;
  margin: 2px 2px 2px 20px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s;
}

.tag .close {
  position: absolute;
  background: inherit;
  left: -4px;
  z-index: 3;
  visibility: hidden;
}

.tag:hover .close {
  visibility: visible;
}

.close:hover {
  color: rgba(0, 0, 0, 0.5);
}

.colors {
  list-style: none;
  width: 100%;
  background: white;
  padding: 15px;
}
.colors li {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 10px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(100deg);
  }

  25% {
    -webkit-transform: rotate(-25deg);
  }

  50% {
    -webkit-transform: rotate(15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-200);
  }

  25% {
    -webkit-transform: rotate(-70);
  }

  50% {
    -webkit-transform: rotate(-185);
  }

  100% {
    -webkit-transform: rotate(-180);
  }
}

.results-candidates {
  background: #0abeef;
}

ul.candidate-group {
  padding: 0;
  list-style-type: none;
}

li.candidate-item {
  margin-bottom: 10px;
  background: white;
}

.photo-container {
  padding-left: 0;
}

.profile-pic {
  max-width: 100%;
  height: 61px;
}

.name-container {
  margin-left: 1em;
  vertical-align: middle;
  font-weight: 200;
}

.name {
  font-size: 20px;
}

.job {
  color: #9ea0a1;
  margin-top: 3px;
}

.percentage-container {
  float: right;
  margin: 8px 0;
  font-size: 30px;
  font-weight: 200;
}

.percentage {
  display: inline-block;
}

.plus {
  display: inline-block;
  width: 30px;
  margin: 0 10px;
}